<div class="mts-logo" style="width:80px">
  <img src="assets/images/gulogo.svg" alt="">
</div>

<div class="slideshow-container" uk-slideshow="animation: fade; min-height: 300; max-height: 600; autoplay: true; autoplay-interval: 1000; pause-on-hover: false;" >

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
    <img alt="" src="assets/images/lights.png" uk-cover width="auto" height="">
    
    <ul class="uk-slideshow-items" >
      <li class="list-wrapper">
        <!-- <img src="assets/images/lights.png" alt="" uk-cover> -->
      <div class="uk-position-center uk-position-small uk-text-center uk-light">
        <h3 class="uk-margin">Answer
          <br>
          <span class="yellow-text">
            Yes or No,
          </span>
  <br>
  as fast as possible to claim the prizes!</h3>
      </div>
      </li>
      <li class="list-wrapper">
        <div class="uk-position-center uk-position-small uk-text-center uk-light">
          <div class="vector">
            <img src="assets/images/coin-1.svg" alt="">
          </div>
          <div class="current-prize-fond">
            <h2 class="uk-margin-remove">Daily Prize</h2>
            <span class="roubles uk-margin-remove">10,000$</span>
          </div>
        </div>
      </li>
      <li class="list-wrapper">
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div uk-slideshow-parallax="scale: 1,1,0.8">
            <div class="vector">
              <img src="assets/images/coins.svg" alt="">
            </div>
            <div
              uk-slideshow-parallax="x: 200,0,0"
              class="current-prize-fond">
              <h2 class="uk-margin-remove">Monthly Prize</h2>
              <span
                uk-slideshow-parallax="x: 400,0,0;"
                class="roubles uk-margin-remove">100,000$</span>
            </div>
          </div>
        </div>
      </li>
      <li class="list-wrapper">
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div uk-slideshow-parallax="scale: 1,1,0.8">
            <div class="vector">
              <img src="assets/images/gift.svg" alt="">
            </div>
            <div class="current-prize-fond">
              <h2 class="uk-margin-remove">CASHBACK Prizes</h2>
              <span class="cashback-text uk-margin-remove">on every game</span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
  </div>
  

</div>
<br>
<br>
<div class="buttons-container uk-container uk-text-center">
    <!--<app-button *ngIf="isSubscribed" [secondary]="isSubscribed" uk-toggle="target: #error">Демо игра</app-button>-->
    <!--<app-button *ngIf="_gamesPlayed >= 3" [secondary]="isSubscribed" (click)="startFreeGame()">Играть в удовольствие</app-button>-->
    <app-button *ngIf="_gamesPlayed == 0" [primary]="isSubscribed" (click)="startGame()" >Play </app-button>
    <app-button *ngIf="_gamesPlayed > 0" [primary]="isSubscribed" (click)="startGame()" >Play for 0.50$</app-button>
    <!--<app-button *ngIf="!isSubscribed" [disabled]="!isChecked" [primary]="isChecked" (click)="GoSubscribe()">Subscribe</app-button>-->

    <div *ngIf="!isSubscribed">
      <label class="checkbox">
        <input type="checkbox" (change)="checkCheckBoxvalue($event)" >
        <div></div>
        Я прочитал и принимаю условаия пользовательского соглашения
      </label>
    </div>
    <div class="message-container" *ngIf="!isSubscribed">
      <span>1 день бесплатно 0 далее 15 ₽/день. Оплата с основного счета. Услуга оказывается МТС совместно с партнером "ДжЮ Груп"</span>
    </div>
    <!--<div class="message-container" *ngIf="isSubscribed">-->
    <!--  <span>1 день бесплатно - далее 15 р/день</span>-->
    <!--</div>-->
  </div>

<div *ngIf="_cashBackAmount > 0" >
    <h4 class="title">Cashback Won</h4>
    <div class="buttons-container uk-container uk-text-center" style="padding:10px;">
    <div class="cashback buttons-container uk-container" uk-grid style="margin-left: auto; margin-right: auto;" routerLink="/cashback">
      <div class="uk-width-expand label">Cashback</div>
      <div class="uk-width-auto amount">{{_cashBackAmount}}  $ <span uk-icon="chevron-right"></span></div>
    </div>
    </div>
  </div>

<div class="buttons-container uk-container uk-text-center" style="padding:10px; margin-top: 0px;">
  <a  [routerLink]="['/how-to-play']" style="color: white;font-weight: bold;text-decoration: underline; ">How to Play?</a>
</div>

<!--<div class="main-footer uk-container" *ngIf="isSubscribed" style="max-width:100%">-->
<!--  Служба поддержки:  111777 (бесплатно) или отправьте письмо на support@gu-group.ru-->
<!--Услуга оказывается МТС совместно с партнером "ДжЮ Груп". Акция проходит под контролем независимого наблюдателя-->
<!--    <p>Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>-->
<!--      <br>18+   |      © 2019 GU Group. All rights reserved.-->
<!--    </p>-->
<!--  </div>-->

<div id="error" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <img src="assets/images/wanted.svg" alt="">
      <h4>Oops...</h4>
     <pre>{{errorMsg}}</pre>
      <app-button [link_button]="true" class="uk-modal-close">Back</app-button>
    </div>
  </div>











<!--<div class="slideshow-container" uk-slideshow="animation: fade; min-height: 300; max-height: 600" >-->

<!--  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">-->
<!--    <img alt="" src="assets/images/lights.png" uk-cover>-->
<!--    <ul class="uk-slideshow-items" >-->
      
<!--      <li class="list-wrapper">-->
<!--        <div class="uk-position-center uk-position-small uk-text-center uk-light">-->
<!--          <div class="vector">-->
            <!--<img src="assets/images/coin-1.svg" alt="">-->
<!--          </div>-->
<!--          <div class="current-prize-fond">-->
<!--            <br>-->
<!--            <h2 class="uk-margin-remove">Are You Ready?</h2>-->
<!--            <br>-->
<!--            <h2 class="uk-margin-remove">Today You Can Win</h2>-->
<!--            <span class="roubles uk-margin-remove">25 000 ₽</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
      
<!--    </ul>-->

<!--    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>-->
<!--  </div>-->


<!--</div>-->



<!--<div class="buttons-container uk-container uk-text-center">-->
<!--    <button class="uk-button uk-button-default play-button uk-width-1-1" >Play(english)</button>-->
<!--  <br>-->
<!--  <button class="uk-button uk-button-default demo-button uk-width-1-1" [routerLink]="['/tutorial']">View Tutorial(english)</button> -->
  
<!--  <div class="message-container">-->
<!--    <span>1 день бесплатно - далее 15 ₽/день</span>-->
<!--  </div>-->
<!--  <a class="uk-button uk-button link button-link" href="">Правила игры</a>-->
<!--</div>-->
<!--<div class="main-footer uk-container">-->
<!--  <p>Наберите 111777 (бесплатно) или отправьте письмо на <a href="mailto:support.mts@gu-group.ru" class="uk-button-link">support.mts@gu-group.ru</a>-->
<!--  </p>-->
<!--  <p>-->
<!--  Интерактивная игра Свайпер проводится под контролем независимого наблюдателя ЗАО «Делойт и Туш СНГ» «Deloitte & Touche CIS»-->
<!--  <br>-->
<!--  <br>-->
<!--  18+-->
<!--  <br>-->
<!--  </p>-->
<!--</div>-->
