<!-- <div class="mts-logo" style="width:80px;">
  <img src="assets/images/gulogo.svg" alt="">
</div> -->
<div class="uk-container animate__animated animate__flip mts-logo"  style="text-align: center; animation-delay: 1900ms;">
  {{ 'HOME.TITLE' | translate }}
<br>
<p >
<!-- {{ 'HOME.FOOTER_02' | translate }}<br>{{ 'HOME.FOOTER_02b' | translate }} -->

</p>
<!-- <span style="color:#ff6600">{{ 'HOME.FOOTER_03' | translate }}</span> -->

</div>

<div class="slideshow-container animate__animated animate__bounceIn" style="animation-duration: 800ms; animation-delay: 200ms;" *ngIf="!openVerify" uk-slideshow="animation: fade; min-height: 400; max-height: 400; autoplay: true; autoplay-interval: 2000; pause-on-hover: false; draggable:false;" >

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
    <ul class="uk-slideshow-items">
      <li class="list-wrapper">

        <div class="uk-position-center uk-position-small uk-text-center uk-light">
          <div class="vector">
            <img class="icon" style="width: 300px;" src="assets/icons/players.png" alt="" />
          </div>
          <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
            <span class="simpleText">Play 3 rounds of 15 questions per day</span><br>
            <span class="textHighlighted">stand a chance to win your share of</span><br><br>
            <span class="textHighlighted">R36,000 in MoMo cash vouchers</span>
          </div>
        </div>
      </li>

      <!-- <li class="list-wrapper">

        <div class="uk-position-center uk-position-small uk-text-center uk-light">
          <div class="vector">
            <img class="icon" style="width: 300px;" src="assets/icons/jerseys.png" alt="" />
          </div>
          <div uk-slideshow-parallax="x: 100,0,0" class="current-prize-fond">
            <span class="simpleText" >Play 3 rounds of 15 questions per day</span><br>
            <span class="textHighlighted">stand a chance to win your share of</span><br><br>
            <span class="textHighlighted">70 Springbok replica jerseys</span>
          </div>
        </div>
      </li> -->

    </ul>

    <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul> -->
  </div>
  

</div>
  
  
  
  
  <!--PLAY BUTTONS-->
  <div class="buttons-container uk-container uk-text-center" *ngIf="loggedin" tabindex="-1">
    <!-- <div class="message-container" style="margin-top: 100px">
      <p style="font-size: 22px;color: rgb(255, 255, 255);text-align: center;">Please enter the 4-digit PIN code received to your mobile</p>
      
    </div> -->
    <div class="buttons-container uk-container uk-text-center"  style="max-width: 595px; margin-bottom: 50px;">
      
      <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
      
      
      <div class="buttons-container uk-container uk-text-center animate__animated animate__bounceInLeft" style="animation-duration: 800ms; animation-delay: 400ms;">
        
        <button class="uk-button uk-button-default play-button uk-width-1-1 animate__animated animate__bounceInUp" style="animation-delay: 400ms;" *ngIf="loggedin && _gamesPlayed < 3" (click)="startGame()">{{ 'HOME.PLAY' | translate }}</button>
        <p *ngIf="verErrorMes2" style="font-size: 12px; color: rgb(32, 32, 32);">{{ 'HOME.VERERROR2' | translate }}</p>
        
        <!-- <button class="uk-button uk-button-default play-button uk-width-1-1 animate__animated animate__bounceInUp" style="animation-delay: 400ms;" *ngIf="loggedin &&  this.sessionService.isActive() && !this.sessionService.hasCredit() && _gamesPlayed < 3" (click)="OpenOTPPurchase()">{{ 'HOME.BUY' | translate }}</button> -->
        
        <button class="uk-button uk-button-default uk-width-1-1" style="padding:0px;" *ngIf="this.sessionService.isPending() && _gamesPlayed < 3"  disabled>{{ 'MESSAGES.MESSAGE_00' | translate }}</button>
        <button class="uk-button uk-button-default uk-width-1-1" style="padding:0px;" *ngIf="this.sessionService.isInActive()"  disabled>Your daily round is not unlocked yet.<br>Please come back later.</button>
        <button class="uk-button uk-button-default uk-width-1-1" style="padding:0px;" *ngIf="_gamesPlayed >= 3"  disabled>No more rounds left for today.<br>Please come back tomorrow.</button>
      </div>
      <!-- <div class="message-container" style="margin-top: 30px;">
        <p style="color:rgb(0, 0, 0); font-weight: bold; font-size: 20px;"><a  [routerLink]="['/info']" style="color:rgb(255, 255, 255); text-decoration: underline;">Resend PIN</a>
        </p>
        
      </div> -->
      
    </div>
    </div>

  <!--END OF PLAY BUTTONS-->
  
 

    <div id="otp" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <img src="assets/images/happy.svg" alt="">
        <!-- <h4>{{ 'MESSAGES.MESSAGE_00' | translate }}</h4> -->
      <pre>{{ 'MESSAGES.MESSAGE_17' | translate }}</pre>
      <!--<p>{{errorMsg}}</p>-->
      <!-- <app-button *ngIf="!logOutBtn" [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_07' | translate }}</app-button> -->
      <button class="uk-button uk-button-link uk-modal-close" style="font-size: 20px;" (click)="UpdateUserInfo()">{{ 'PROFILE.BACK' | translate }}</button>
      <!-- <app-button  [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_07' | translate }}</app-button>
      <app-button  [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_15' | translate }}</app-button> -->
        
      </div>
    </div>

    <div id="error" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <img src="assets/images/wanted.svg" alt="">
        <h4>{{ 'MESSAGES.MESSAGE_01' | translate }}</h4>
      <pre>{{ 'MESSAGES.MESSAGE_16' | translate }}</pre>
      <!--<p>{{errorMsg}}</p>-->
      <!-- <app-button *ngIf="!logOutBtn" [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_07' | translate }}</app-button> -->
      
      <app-button  [link_button]="true" class="uk-modal-close" >{{ 'MESSAGES.MESSAGE_15' | translate }}</app-button>
        
      </div>
    </div>
  
