
<div class="tutorial animate__animated animate__bounceInUp" style="animation-duration: 700ms; animation-delay: 100ms;">
  <div class="slideshow-container" data-uk-slideshow="animation: fade; min-height: 450; max-height: 500" >
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      <ul class="uk-slideshow-items" >
          <li>
              <div class="item">
                <h3>{{'TUTORIAL.MES_01' | translate }}</h3><br><br>
                <div class="item__image">
                  <img src="assets/icons/icon-swipe.svg" alt="">
                </div>
                <br><br>
                <div class="item__description">
                  <p [innerHtml]="'TUTORIAL.MES_02' | translate"></p>
                </div>
              </div>
            </li>
          <li >
              <div class="item" >
                <h3>{{'TUTORIAL.MES_03' | translate }}</h3><br><br>
                <div class="item__image">
                  <img src="assets/icons/icon-5s.svg" alt="">
                </div>
                <br><br>
                <div class="item__description">
                    <p [innerHtml]="'TUTORIAL.MES_04' | translate"></p>
                </div>
              </div>
          </li>
          <li>
              <div class="item">
                <h3>{{'TUTORIAL.MES_05' | translate }}</h3><br><br>
                <div class="item__image">
                  <img src="assets/icons/score.svg" alt="">
                </div>
                <br><br>
                <div class="item__description">
                    <p [innerHtml]="'TUTORIAL.MES_06' | translate"></p>
                </div>
              </div>
          </li>
          <li>
              <div class="item">
                <h3>{{'TUTORIAL.MES_07' | translate }}</h3><br><br>
                <div class="item__image">
                  <img src="assets/icons/icon-prize.svg" alt="">
                </div>
                <br><br>
                <div class="item__description">
                    <p [innerHtml]="'TUTORIAL.MES_08' | translate"></p>
                </div>
              </div>
          </li>
        
      </ul>
      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
    </div>
  <div class="buttons-container uk-container uk-text-center  animate__animated animate__bounceInLeft" style="max-width:600px; animation-duration: 800ms; animation-delay: 800ms;"  >
    <!--<app-button [primary]="true">Далее</app-button>-->
    <button class="uk-button uk-button-default play-button uk-width-1-1"  (click)="changeTutorialFlag()">{{ 'TUTORIAL.SKIP' | translate }}</button> 
    <!-- <app-button [secondary]="true"(click)="changeTutorialFlag()">Skip</app-button> -->
  </div>
  </div>
 
</div>