<!--<div class="slideshow-container" uk-slideshow="animation: fade; min-height: 400; max-height: 600" >-->

<!--  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">-->
    <!--<img alt="" src="assets/images/lights.png" uk-cover>-->
<!--    <ul class="uk-slideshow-items" >-->
<!--      <li class="list-wrapper" >-->
<!--        <div class="tut-card "layout="row" layout-align="center center">-->
<!--          <img class="icon" src="assets/icons/icon-swipe.svg" alt=""/>-->
<!--          <h2 style="color: black">Swipe Left or Right</h2>-->
<!--          <div class="item ">-->
<!--            Подпишитесь на игру Свайпер, проверяйте свою эрудицию и претендуйте на-->
<!--            главные денежные призы</div>-->
        
<!--      </div>-->
<!--      </li>-->
<!--      <li class="list-wrapper">-->
<!--        <div class="tut-card">-->
<!--          <img class="icon" src="assets/icons/icon-timer.svg" alt=""/>-->
<!--          <h2 style="color: black">Swipe Left or Right</h2>-->
<!--          <div class="item ">-->
<!--            Подпишитесь на игру Свайпер, проверяйте свою эрудицию и претендуйте на-->
<!--            главные денежные призы</div>-->
        
<!--      </div>-->
<!--      </li>-->
<!--      <li class="list-wrapper">-->
<!--        <div class="tut-card">-->
<!--          <img class="icon" src="assets/icons/icon-prize.svg" alt=""/>-->
<!--          <h2 style="color: black">Swipe Left or Right</h2>-->
<!--          <div class="item ">-->
<!--            Подпишитесь на игру Свайпер, проверяйте свою эрудицию и претендуйте на-->
<!--            главные денежные призы</div>-->
        
<!--      </div>-->
<!--      </li>-->
<!--      <li class="list-wrapper">-->
<!--        <div class="tut-card">-->
<!--          <img class="icon" src="assets/icons/icon-score.svg" alt=""/>-->
<!--          <h2 style="color: black">Swipe Left or Right</h2>-->
<!--          <div class="item ">-->
<!--            Подпишитесь на игру Свайпер, проверяйте свою эрудицию и претендуйте на-->
<!--            главные денежные призы</div>-->
        
<!--      </div>-->
<!--      </li>-->
<!--      <li class="list-wrapper">-->
<!--        <div class="tut-card">-->
<!--          <img class="icon" src="assets/images/coins.svg" alt=""/>-->
<!--          <h2 style="color: black">Swipe Left or Right</h2>-->
<!--          <div class="item ">-->
<!--            Подпишитесь на игру Свайпер, проверяйте свою эрудицию и претендуйте на-->
<!--            главные денежные призы</div>-->
        
<!--      </div>-->
<!--      </li>-->
<!--    </ul>-->

<!--    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>-->
<!--  </div>-->


<!--</div>-->

<!--<div class="buttons-container uk-container uk-text-center">-->
  
<!--  <button class="uk-button uk-button-default play-button uk-width-1-1" >Играть</button>-->
<div class="tutorial">
  <div class="slideshow-container" data-uk-slideshow="animation: fade; min-height: 400; max-height: 500" >
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      <ul class="uk-slideshow-items" >
        <li>
          <div class="item">
            <div class="item__image">
              <img src="assets/icons/icon-swipe.svg" alt="">
            </div>
            <h3>Swipe Left or Right</h3>
            <div class="item__description">
              <p>Answer questions by swiping photos left or right <br>or<br> by pressing  the corresponding button.</p>
            </div>
          </div>
        </li>
        <li >
          <div class="item" >
            <div class="item__image">
              <img src="assets/icons/icon-timer.svg" alt="">
            </div>
            <h3>Game Time</h3>
            <div class="item__description">
              <p>You have 45 seconds to answer as many questions as possible. For each wrong answer you lose 5 seconds.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="item">
            <div class="item__image">
              <img src="assets/icons/icon-prize.svg" alt="">
            </div>
            <h3>Special Prizes</h3>
            <div class="item__description">
              <p>During each game you come across special questions. Answer correctly and get instant Cashback prizes!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="item">
            <div class="item__image">
              <img src="assets/icons/score.svg" alt="">
            </div>
            <h3>Play More</h3>
            <div class="item__description">
              <p>Want to improve your score? Buy additional games.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="item">
            <div class="item__image">
              <img src="assets/images/coins.svg" alt="">
            </div>
            <h3>Prizes</h3>
            <div class="item__description">
              <p>Daily Prize: 10,000$ ! 
                Monthly Prize: 100,000$ !
                The player with the best result of the day wins the day’s prize!</p>
            </div>
          </div>
        </li>
      </ul>
      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
    </div>
  <div class="buttons-container uk-container uk-text-center" style="max-width:600px" >
    <!--<app-button [primary]="true">Далее</app-button>-->
    <app-button [primary]="true"(click)="changeTutorialFlag()">Skip</app-button>
  </div>
  </div>
 
</div>