<div class="header_title">
  <span class="inside_text">{{ 'FAQ.FAQ' | translate }}</span>
</div>
<div class="buttons-container uk-container">
  <div class="faq-component" style="max-width: 600px;
      margin-left: auto;
      margin-right: auto;">
    <div class="uk-accordion" data-uk-accordion="multiple: true">

      <div class="faq-item" *ngFor="let service of ('FAQ.data' | translate)" >
        <h3 class="uk-accordion-title">{{service.title}}</h3>
        <div class="uk-accordion-content" [innerHtml]="service.descr">
            
        </div> 
      </div>

      <!-- <div *ngFor="let service of ('FAQ.data' | translate)">
          <p>{{service.title}}</p>
          <p>{{service.description}}</p>
      </div> -->

    </div>
  </div>
</div>

<div class="buttons-container uk-container uk-text-center">

  <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="isActive" (click)="goHomeWithLogin()">{{ 'HOME.SUB' | translate }}</button>
  <!-- <button class="uk-button uk-button-default play-button uk-width-1-1" style="background-image: linear-gradient(to bottom, #ffffff, #c3c3c3 16%, #acacac 84%, #c5c5c5);" *ngIf="!isActive" >Подписаться</button> -->
  <!-- <button *ngIf="_gamesPlayed >= 3 && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="startGame()">{{ 'FAQ.BUY' | translate }}</button> -->
  <button *ngIf="_gamesPlayed > 0 && _gamesPlayed < 3  && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="OpenSureModal()" >{{ 'FAQ.BUY' | translate }}</button>
  <button *ngIf="_gamesPlayed == 0 && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="startGame()" >{{ 'FAQ.PLAY' | translate }}</button>
  <!-- <div class="uk-container" style="text-align: center;color: white;margin: 20px;">
    {{ 'HOME.FOOTER_01' | translate }}
    <br>
    <p>
      {{ 'HOME.FOOTER_02' | translate }}<br>{{ 'HOME.FOOTER_02b' | translate }}<a [routerLink]="['/info']"
        style="color:white; text-decoration: underline;">{{ 'HOME.FOOTER_02c' | translate }}</a>
    </p>
    <span style="color:#dfdb03">{{ 'HOME.FOOTER_03' | translate }}</span>

  </div> -->
</div>
<div id="areUSure" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <!-- <img src="assets/images/wanted.svg" alt=""> -->
    <h4 style="text-align: center;">{{ 'HOME.SURE' | translate }}</h4>
   <!-- <pre>{{errorMsg}}</pre> -->
   <div class="buttons-container uk-container uk-text-center" style="padding:10px; margin-top: 0px;">
    <button class="uk-button uk-button-default play-button uk-width-1-1 uk-modal-close"  style="margin-top: 20px" (click)="startGame()">{{ 'HOME.YES' | translate }}</button>
    <app-button [link_button]="true" class="uk-modal-close"   style="margin: 20px 0px;">{{ 'HOME.NO' | translate }}</app-button>
  </div>
  </div>
</div>