<div class="header  uk-sticky-fixed" uk-sticky=" sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">
  <nav class="uk-navbar-container boundary-align " uk-navbar>
    <ul class="uk-navbar-nav" uk-navbar="dropbar: true; dropbar-mode: push">
      <li>
        <a class="hamburger-menu " (click)="toggleClass()" uk-toggle="target: #offcanvas-nav">
          <div class="hamburger-inner" [ngClass]="{'pushed': pushed}">
            <div class="toggle-icon">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
        </a>
        <div id="mobile-nav-drop" uk-drop="
                              mode: click;
                              pos: bottom-justify;
                              boundary: .boundary-align;
                              boundary-align: true;
                              offset: 0
                              "
          (dropHide)="toggleClass()">
          <div id="offcanvas-nav" uk-offcanvas="overlay: true;flip: false">
            <div class="uk-offcanvas-bar">
              <ul class="uk-nav uk-nav-default">
                <li class="uk-active">
                  <a class="nav-list-button"
                    
                    (click)="closeOffcanvas(); gotoHome()">
                    <div class="nav-list-box uk-flex">
                        <img class="nav-list-icon" src="assets/icons/ic-home-off.svg" alt=""><span>Home</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a 
                  
                  class="nav-list-button" (click)="closeOffcanvas(); gotoProfile()">
                      <div class="nav-list-box uk-flex">
                    <img class="nav-list-icon" src="assets/icons/profile.svg" alt="">
                    <span>Profile</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a 
                  [routerLink]="['/how-to-play']"
                  class="nav-list-button" (click)="closeOffcanvas()">
                      <div class="nav-list-box uk-flex">
                    <img class="nav-list-icon" src="assets/icons/how-play.svg" alt=""><span>How to Play</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a 
                  [routerLink]="['/prizes']"
                  class="nav-list-button" (click)="closeOffcanvas()">
                      <div class="nav-list-box uk-flex">
                        <img class="nav-list-icon" src="assets/icons/prize.svg" alt=""><span>Prizes</span>
                        </div>
                  </a>
                </li>
                <li>
                  <a class="nav-list-button"
                    [routerLink]="['/winners']"
                    (click)="closeOffcanvas()">
                      <div class="nav-list-box uk-flex">
                        <img class="nav-list-icon" src="assets/icons/liderboard.svg" alt=""><span>Winners</span>
                        </div>
                  </a>
                </li>
                <li>
                  <a 
                  [routerLink]="['/cashback']"
                  class="nav-list-button" (click)="closeOffcanvas()">
                      <div class="nav-list-box uk-flex">
                        <img class="nav-list-icon" src="assets/icons/cashback.svg" alt=""><span>Cashback Prizes</span>
                        </div>
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['/faq']"
                    class="nav-list-button" (click)="closeOffcanvas()">
                    <div class="nav-list-box uk-flex">
                      <img class="nav-list-icon" src="assets/icons/support.svg" alt=""><span>FAQ</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a 
                  [routerLink]="['/info']"
                  class="nav-list-button" (click)="closeOffcanvas()">
                      <div class="nav-list-box last-item uk-flex">
                        <img class="nav-list-icon" src="assets/icons/info.svg" alt=""><span>Rules</span>
                      </div>
                  </a>
                </li>
              </ul>
              <div class="offcanvas-footer" >
                  <p style="padding-left: 22px">Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>
                    
                    <br>18+ | © 2019 GU Group. All rights reserved.

                  </p>
                 
               </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="uk-navbar-center">
      <a class="uk-navbar-item uk-logo logo-big" (click)="gotoHome()">
        <img src="assets/images/logo-sw.svg">
      </a>
    </div>
  </nav>
</div>
