<div class="header_title">
    <span class="inside_text">Terms</span>
  </div>
<div class="buttons-container uk-container">
    <div class="info-text" style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <p style="text-align:center;color:#f6d356; font-weight: bold">
            <span style="font-size: 18px">{{ 'TERMS.TITLE1' | translate }}</span><br>
            <span style="font-size: 22px">{{ 'TERMS.TITLE2' | translate }}</span>
        </p>
        <div  [innerHtml]="'TERMS.TEXT1' | translate"></div> 
        <div  [innerHtml]="'TERMS.TEXT2' | translate"></div> 
        <div  [innerHtml]="'TERMS.TEXT3' | translate"></div> 
        <div  [innerHtml]="'TERMS.TEXT4' | translate"></div> 
        <div  [innerHtml]="'TERMS.TEXT5' | translate"></div> 
        <div  [innerHtml]="'TERMS.TEXT6' | translate"></div>
        <div  [innerHtml]="'TERMS.TEXT7' | translate"></div>
    </div>
</div>
<!--<div class="main-footer uk-container" style="max-width:100%;  margin-top:100px;">-->
<!--    <p style="padding-left: 22px">Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>-->
<!--    <br>18+ | © 2019 GU Group. All rights reserved.-->
<!--    </p>-->
<!--</div>-->
    
    