<div class="uk-text-center title">
    <span>T&Cs</span>
</div>
    
<div class="buttons-container uk-container">
    
        <div *ngIf="alignAllLeft" class="info-text" style="max-width: 600px; margin-left: auto; margin-right: auto;">
        
            <p align="JUSTIFY">
                <br/>
            </p>
            <p align="JUSTIFY">
                <b>Bok Trivia Internal Competition Terms and Conditions </b>
            </p>
            <table width="100%" border="1" cellpadding="7" cellspacing="0">
                <colgroup>
                    <col width="611"/>
                </colgroup>
                <tbody>
                    <tr>
                        <td width="611" height="443" valign="TOP">
                            <p align="JUSTIFY">
                                <b>NOTE: </b>
                            </p>
                            <ol type="A">
                                <li>
                                    <p align="JUSTIFY">
                                        <b>
                                            The following Terms and Conditions contain
                                            assumptions of risk and/or liability by
                                            Customers and limit and exclude liabilities,
                                            obligations and legal responsibilities which
                                            Mobile Telephone Networks Proprietary Limited
                                            (“MTN”) will have towards Customers and other
                                            persons.
                                        </b>
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        <b>
                                            These Terms and Conditions also limit and
                                            exclude Customers rights and remedies against
                                            MTN and place various risks, liabilities,
                                            obligations and legal responsibilities on the
                                            Customer.
                                        </b>
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        <b>
                                            These Terms and Conditions may result in
                                            Customers being responsible for paying
                                            additional costs and amounts and MTN may also
                                            have claims and other rights against the
                                            Customer.
                                        </b>
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        <b>
                                            To the extent that the Terms and Conditions or
                                            any goods or services provided under the Terms
                                            and Conditions are governed by the Consumer
                                            Protection Act, 2008 (the "Consumer Protection
                                            Act"), no provision of the Terms are intended
                                            to contravene the applicable provisions of the
                                            Consumer Protection Act, and therefore all
                                            provisions of the Terms and Conditions must be
                                            treated as being qualified, to the extent
                                            necessary, to ensure that the applicable
                                            provisions of the Consumer Protection Act are
                                            complied with.
                                        </b>
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        <b>
                                            The Customer must read these Terms and
                                            Conditions. The use of this product/service
                                            will constitute as agreement to comply with
                                            these Terms and Conditions.
                                        </b>
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        <b>
                                            Please pay special attention to all the
                                            clauses. Please note that these Terms and
                                            Conditions must be read together with the
                                            standard MTN Internet product and service Terms
                                            and Conditions.
                                        </b>
                                    </p>
                                </li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p lang="en-US" align="JUSTIFY">
                <br/>
            </p>
            <ol type="A">
                <ol type="a">
                    <ol type="i">
                        <ol>
                            <li>
                                <p align="JUSTIFY">
                                    <b>Introduction</b>
                                </p>
                            </li>
                        </ol>
                    </ol>
                </ol>
            </ol>
            <ol>
                <ol>
                    <li>
                        <p align="JUSTIFY">
                            Bok Trivia web game includes 15 rugby-themed questions and each
                            question consists of a statement and a photo. User must swipe
                            right for correct or left for wrong answer. MTN employees who
            play Bok Trivia stand a chance to win amazing prizes (the                <b>“Competition”</b>).
                        </p>
                    </li>
                </ol>
            </ol>
            <p lang="en-US" align="JUSTIFY">
                <br/>
            </p>
            <ol start="2">
                <li>
                    <p align="JUSTIFY">
                        <b>Duration</b>
                    </p>
                    <ol>
                        <li>
                            <p align="JUSTIFY">
                                The Competition commences on 4 July 2022 and will continue
            until 23 September at 17h00 (the                    <b>“Competition Period"</b>).
                            </p>
                        </li>
                        <li>
                            <p>
                                Notwithstanding the Competition Period, MTN may, in its
                                sole and absolute discretion, amend or withdraw the
            Competition with notice to entrants. The entrant must visit                    <a href="http://www.mtn.co.za">www.mtn.co.za</a> regularly
                                for notices, updates and/or changes to services.
                            </p>
                        </li>
                    </ol>
                </li>
            </ol>
            <p lang="en-US" align="JUSTIFY">
                <br/>
            </p>
            <p lang="en-US" align="JUSTIFY">
                <br/>
            </p>
            <ol start="3">
                <li>
                    <p align="JUSTIFY">
                        <b>Eligibility</b>
                    </p>
                    <ol>
                        <li>
                            <p align="JUSTIFY">
                                To be eligible to enter, the entrant must
                            </p>
                            <ol>
                                <li>
                                    <p align="JUSTIFY">
                                        Be an employee of MTN;
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        have an active MoMo account linked to your staff
                                        number;
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        be 18 years or older.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                Participation in this Competition excludes:
                            </p>
                            <ol>
                                <li>
                                    <p align="JUSTIFY">
                                        employees serving notice;
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        employees with a warning;
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        level 4s and above (including those who are
                                        acting); and
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        Employees in Brand and Comms, Sponsorship, Legal,
                                        PR &amp; Comms, Internal Audit, HR and any other
                                        team involved in the organisation of the
                                        Competition.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
            <p lang="en-US" align="JUSTIFY">
                <br/>
                <br/>
            </p>
            <ol start="4">
                <li>
                    <p align="JUSTIFY">
                        <a name="Bookmark"></a>
                        <b>How to Enter</b>
                    </p>
                    <ol>
                        <li>
                            <p align="JUSTIFY">
                                During the Competition Period, the entrants that meet all
                                of the criteria referred to in clause 3 above, must do the
                                following in order to stand a chance to win:
                            </p>
                            <ol>
                                <li>
                                    <p align="JUSTIFY">
                                        Play at least one game a week, to stand in line to
                                        win weekly prizes (2 x R1000 MoMo vouchers) through
                                        a lucky draw.
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
            <p lang="en-US" align="JUSTIFY">
                <br/>
                <br/>
            </p>
            <ol start="5">
                <li>
                    <p align="JUSTIFY">
                        <b>How the Competition Works</b>
                    </p>
                    <ol>
                        <li>
                            <p align="JUSTIFY">
                                Employees must log into the “Bok Trivia” platform using
                                their oracle/staff number either on their phone or web via
                                the Competition link.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                Each round of the Competition comprises of 15 questions and
                                the users have 5 minutes to answer them all.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                When the 5 minutes is over the round is over, users receive
                                points upon answering questions correctly.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                Points are awarded as follows:
                            </p>
                            <ol>
                                <li>
                                    <p align="JUSTIFY">
                                        Twenty (20) points if this is a “common” type
                                        question;
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        Fifty (50) points if this is a “bronze” type
                                        question;
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        One hundred points (100) if this is a “silver” type
                                        question; and
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        One hundred and fifty points (150) if this is a
                                        “golden” type question.
                                    </p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                Bronze, silver and gold questions award extra points and
                                pop up at surprise intervals.
                            </p>
                        </li>
                    </ol>
                </li>
            </ol>
            <p lang="en-US" align="JUSTIFY">
                <br/>
                <br/>
            </p>
            <ol start="6">
                <li>
                    <p align="JUSTIFY">
                        <b>Prizes</b>
                    </p>
                    <ol>
                        <li>
                            <p align="JUSTIFY">
                                Play one (1) of the three (3) rounds of 15 questions each
                                week, collect at least one (1) point to stand a chance to
                                win.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                All weekly entrants with at least one (1) point will go
                                into a random lucky draw conducted on MTN Office Apps in
                                order to draw the three (3) winners for that week. Winners
                                stand to win these weekly prizes:
                            </p>
                            <ol>
                                <li>
                                    <p align="JUSTIFY">
                                        R1000 (one thousand Rands) in MoMo cash.
                                    </p>
                                </li>
                                <li>
                                    <p align="JUSTIFY">
                                        A years’ subscription to Bok Squad* (herein
                                        referred to as the Prize/s).
                                    </p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
            <p align="JUSTIFY">
                *On the Bok Squad platform, MTNers cannot participate or win in any of the
                competitions open to the public, but have access to:
            </p>
            <p align="JUSTIFY">
                1. Behind the scenes Springbok footage
            </p>
            <p align="JUSTIFY">
                2. Exclusive player interviews
            </p>
            <p align="JUSTIFY">
                3. Video content
            </p>
            <p align="JUSTIFY">
                4. Purchasing early bird tickets for the 2023 Rugby World Cup
            </p>
            <p lang="en-US" align="JUSTIFY">
                <br/>
                <br/>
            </p>
            <p align="JUSTIFY">
                <b>6.3</b>
                Winners will be announced weekly.
            </p>
            <ul>
                <li>
                    <p align="JUSTIFY">
                        MoMo voucher winners will be paid at the end of the Competition
                        Period.
                    </p>
                </li>
                <li>
                    <p align="JUSTIFY">
                        Bok Squad subscription winners will get their prize weekly
                    </p>
                </li>
            </ul>
            <p lang="en-US" align="JUSTIFY">
                <br/>
                <br/>
            </p>
            <p align="JUSTIFY">
                <b>Competition timelines</b>
            </p>
            <table width="100%" border="1" cellpadding="7" cellspacing="0">
                <colgroup>
                    <col width="93"/>
                    <col width="296"/>
                    <col width="162"/>
                </colgroup>
                <tbody>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                <a name="Bookmark1"></a>
                                <b>Week #</b>
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                <b>Prize</b>
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                <b>Number of winners</b>
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 1
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 2
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 3
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 4
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 5
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 6
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 7
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 8
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 9
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 10
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td width="93">
                            <p>
                                Week 11
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">USTIFY"
                        <td width="93">
                            <p>
                                Week 12
                            </p>
                        </td>
                        <td width="296">
                            <p align="JUSTIFY">
                                R1000 MoMo cash
                            </p>
                            <p align="JUSTIFY">
                                1 years’ subscription to Bok Squad
                            </p>
                        </td>
                        <td width="162">
                            <p align="JUSTIFY">
                                2
                            </p>
                            <p align="JUSTIFY">
                                1
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p lang="en-US" align="JUSTIFY">
                <br/>
            </p>
            <ol start="7">
                <li>
                    <p align="JUSTIFY">
                        <b>General</b>
                    </p>
                    <ol>
                        <li>
                            <p align="JUSTIFY">
                                The MTN, its respective directors, affiliates, members,
                                partners, employees, agents, consultants, suppliers,
                                contractors, subsidiaries and sponsors assume no liability
                                whatsoever for any direct or indirect loss or damage,
                                including but not limited to physical harm or death,
                                howsoever arising from or as a result of an entrant’s
                                participation in the Competition or the entrant’s
                                redemption of any Prize in terms of this Competition, or
                                from any amendments to Prize details and/or the terms and
                                conditions of this Competition. All entrants (including the
                                winner) hereby expressly indemnify the MTN in this regard
                                and shall hold it harmless from all and any claims arising
                                from or as a result of the above reasons.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                In so far as it is necessary, required by law or beyond the
                                reasonable control of MTN, MTN reserves the right to vary
                                the nature of the Competition, the Prize, or these terms
                                and conditions upon notice in this regard being published
                                on www.mtn.co.za or in another appropriate medium. In the
                                event that the Prize is limited or varied in this manner,
                                MTN shall replace the Prize with a prize of a similar
                                economic value.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                With regard to clause 7.2 above, any amended terms and
                                conditions published in any media, or on MTN website
                                www.mtn.co.za will form part of the terms and conditions of
                                the Competition, to which terms the entrants agree to be
                                bound.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                The Prize is not transferable and is not exchangeable for
                                another prize.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                The decision of MTN in respect of disputes arising out of
                                this Competition shall be dealt with by MTN in terms of
                                these terms and conditions. The decision of MTN in this
                                regard shall be final.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                MTNers can play as many times as they wish but are only
                                eligible to win 1 (one) Prize each during the campaign.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                MTN reserve the right to withhold the Prize until it is
                                entirely satisfied that the claimant of the Prize is the
                                bona fide winner and reserves the right to call for such
                                proof as it may deem necessary.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                In the event that the winner is unable to redeem the Prize
                                for any reason, or is disqualified for any reason, the
                                winner will then forfeit the Prize and the second placed
                                name will be the winner.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                Winners shall be contacted via internal comms channels.
                            </p>
                        </li>
                        <li>
                            <p align="JUSTIFY">
                                Where and when applicable, the winner shall be liable to
                                pay any applicable tax related to the Prizes in clause 6
                                above.
                            </p>
                        </li>
                        <li>
                            <p>
                                We respect your privacy and you voluntarily agree to abide
                                by our privacy policy, which can be viewed at
                                www.mtn.co.za.
                            </p>
                        </li>
                    </ol>
                </li>
            </ol>
                                                                      
        </div>
    
    
    
    
</div>
    
    <!--<div class="main-footer uk-container" style="max-width:100%;  margin-top:100px;">-->
    <!--    <p style="padding-left: 22px">Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>-->
    <!--    <br>18+ | © 2019 GU Group. All rights reserved.-->
    <!--    </p>-->
    <!--</div>-->
        
        