<div class="header_title">
  <span class="inside_text">{{ 'PRIZES.PRIZES' | translate }}</span>
</div>
<div class="buttons-container uk-container uk-text-center"></div>
<div class="prizes" style="max-width: 600px;
    margin-left: auto;
    margin-right: auto;">
  <div class="item">
    <img src="assets/icons/daily_prize.png" alt="">
    <h4>{{ 'HOME.CAR_04b' | translate }}</h4>
    <p>{{ 'HOME.CAR_04' | translate }}</p>
  </div>
  <div class="item">
    <img src="assets/icons/weekly_prize.png" alt="">
    <h4>{{ 'HOME.CAR_03b' | translate }}</h4>
    <p>{{ 'HOME.CAR_03' | translate }}</p>
  </div>
  <div class="item">
    <img src="assets/icons/monthly_prize.png" alt="">
    <h4>{{ 'HOME.CAR_02b' | translate }}</h4>
    <p>{{ 'HOME.CAR_02' | translate }}</p>
  </div>
  <div class="item">
    <img src="assets/icons/grand_prize.png" alt="">
    <h4>{{ 'HOME.CAR_01b' | translate }}</h4>
    <p>{{ 'HOME.CAR_01' | translate }}</p>
  </div>
</div>

<div class="buttons-container uk-container uk-text-center">
     
    <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="isActive" (click)="goHomeWithLogin()">{{ 'PRIZES.SUB' | translate }} </button>
    <!-- <button class="uk-button uk-button-default play-button uk-width-1-1" style="background-image: linear-gradient(to bottom, #ffffff, #c3c3c3 16%, #acacac 84%, #c5c5c5);" *ngIf="!isActive" >Подписаться</button> -->
    <!-- <button *ngIf="_gamesPlayed >= 3 && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="startGame()">{{ 'PRIZES.BUY' | translate }}</button> -->
    <button *ngIf="_gamesPlayed > 0 && _gamesPlayed < 3  && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="OpenSureModal()" >{{ 'PRIZES.BUY' | translate }}</button>
    <button *ngIf="_gamesPlayed == 0 && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="startGame()" >{{ 'PRIZES.PLAY' | translate }}</button>
</div>
<div id="areUSure" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <!-- <img src="assets/images/wanted.svg" alt=""> -->
    <h4 style="text-align: center;">{{ 'HOME.SURE' | translate }}</h4>
   <!-- <pre>{{errorMsg}}</pre> -->
   <div class="buttons-container uk-container uk-text-center" style="padding:10px; margin-top: 0px;">
    <button class="uk-button uk-button-default play-button uk-width-1-1 uk-modal-close"  style="margin-top: 20px" (click)="startGame()">{{ 'HOME.YES' | translate }}</button>
    <app-button [link_button]="true" class="uk-modal-close"   style="margin: 20px 0px;">{{ 'HOME.NO' | translate }}</app-button>
  </div>
  </div>
</div>