
<div class="uk-text-center title">
  <span >{{ 'PRIZES.PRIZES' | translate }}</span><br>
</div>

<div class="buttons-container uk-container uk-text-center" >
    <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto;">
      <!-- <img class="icon" src="assets/icons/prize.png" alt=""/> -->
      <div class="item animate__animated animate__bounceInUp" style="animation-duration: 700ms; animation-delay: 100ms;">
        <div class="animate__animated animate__bounceIn" style="animation-duration: 800ms; animation-delay: 700ms;">
          <h4>R70,000 in MoMo cash vouchers</h4>
          <p>Win your share now!</p>
          <img style="height: 160px; padding-bottom: 45px;" src="assets/icons/icon-prize.svg" alt=""><br>
        </div> 
      </div>
     

      <div class="item animate__animated animate__bounceInUp" style="animation-duration: 700ms; animation-delay: 100ms;">
        <div class="animate__animated animate__bounceIn" style="animation-duration: 800ms; animation-delay: 700ms;">
          <h4>70 Springbok jerseys</h4>
          <p></p>
          <img  src="assets/icons/Bok_jersey_icon.png" alt=""><br>
        </div>
      </div>
      
    </div>
      

    <div class="buttons-container uk-container uk-text-center animate__animated animate__bounceInLeft" style="animation-duration: 800ms; animation-delay: 1500ms;">
      <!-- <button class="uk-button play-button uk-width-1-1" *ngIf="isActive" (click)="goHome()">{{ 'PRIZES.BACK' | translate }}</button> -->
      <button class="uk-button play-button uk-width-1-1"  (click)="goHome()">{{ 'PRIZES.BACK' | translate }}</button>
    </div>
    <!--<div class="main-footer uk-container" >-->
    <!--  Служба поддержки:  111777 (бесплатно) или отправьте письмо на support@gu-group.ru-->
    <!--Услуга оказывается МТС совместно с партнером "ДжЮ Груп". Акция проходит под контролем независимого наблюдателя-->
    <!--    <p style="padding-left: 22px">Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>-->
    <!--    <br>18+ | © 2019 GU Group. All rights reserved.-->
    <!--    </p>-->
    <!--</div>-->