<div class="header_title">
  <span class="inside_text">{{ 'PROFILE.PROFILE' | translate }}</span>
</div><br>
<div class="profile-component uk-text-center" *ngIf="!isSettingsShowable()" style="max-width: 600px;
    margin-left: auto;
    margin-right: auto;">
  
<div class="topProfile animate__animated animate__bounceInUp" style="animation-duration: 800ms; animation-delay: 400ms;">>
  <div class="avatar" style="margin: 15px;">
  
    <img ngxGravatar class="my-avatar"   size="100" src="{{avatarPic}}">
    </div>
    <!--src="assets/images/avatar.svg"-->
    <div class="phone">
      {{_phone}}
    </div>
    <div class="results uk-text-center uk-child-width-1-3 uk-grid-collapse uk-grid-divider" uk-grid>
      <div>
        <div class="number">
          {{bestResultToday || '0'}}
        </div>
        <div class="text">
            {{ 'PROFILE.POINTS' | translate }}
        </div>
      </div>
      <div>
        <div class="number">
          {{totalGamesCount || '0'}}
        </div>
        <div class="text">{{ 'PROFILE.PLAYED' | translate }}</div>
      </div>
      <div>
        <div class="number">
          {{bestResultAllTime || '0'}}
          
        </div>
        <div class="text">{{ 'PROFILE.BEST' | translate }}</div>
      </div>
    </div>
    <div class="cashback"  >
      <!-- <div class="uk-width-expand label">Cashback</div>
      <div class="uk-width-auto amount">{{_cashBackAmount}} $<span uk-icon="chevron-right"></span></div> -->
    </div>
    <div class="days-summary" uk-grid >
      <div class="uk-width-expand label">{{ 'PROFILE.DAYS' | translate }}</div>
      <!--Games in the game-->
      <div class="uk-width-auto" style="font-size: 20px;font-weight: bold;color: #000000;">{{_daysInGame}}</div>
    </div>
</div>

  
  <div class="buttons-container uk-container uk-text-center">
    <!--Go to Settings-->
    <button class="uk-button uk-button-default play-button uk-width-1-1 animate__animated animate__bounceInLeft" style="animation-duration: 800ms; animation-delay: 700ms;" (click)="showSettingsView()">{{ 'PROFILE.SETTINGS' | translate }}</button>
    
  </div>
  <div class="buttons-container uk-container uk-text-center animate__animated animate__bounceInUp" style="animation-duration: 800ms; animation-delay: 1000ms;" >
    <app-button [link_button]="true" [link_button_white]="true"  (click)="goHome()" >{{ 'PROFILE.BACK' | translate }}</app-button>
  </div>
  <br>
  
  <br>
  
</div>
<div *ngIf="isSettingsShowable()">
  <app-settings></app-settings>
</div>


 <div id="error" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <img src="assets/images/wanted.svg" alt="">
      <h4>{{ 'MESSAGES.MESSAGE_01' | translate }}</h4>
      <p>{{ 'MESSAGES.MESSAGE_02' | translate }}</p>
      <!--<p>{{errorMsg}}</p>-->
      <button class="uk-button uk-button-default uk-button-link uk-modal-close" style="font-size: 20px; font-weight: bold;" (click)="goHome()">{{ 'PROFILE.BACK' | translate }}</button>
      <!-- <app-button [link_button]="true" class="uk-modal-close" (click)="goHome()">{{ 'PROFILE.BACK' | translate }}</app-button> -->
    </div>
  </div>