<!-- <div class="header_title">
  <span class="inside_text">{{ 'HOW.HOW' | translate }}</span>
</div> -->
<div class="uk-text-center title">
  <span >{{ 'HOW.HOW' | translate }}</span>
</div>
<div class="buttons-container uk-container uk-text-center animate__animated animate__bounceInUp" style="animation-duration: 800ms; animation-delay: 400ms;">
  

<div class="how-to-play-text" style="max-width: 600px;
    margin-left: auto;
    margin-right: auto;">
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 200ms; animation-delay: 1.0s;" src="assets/icons/icon-check.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 200ms; animation-delay: 1.0s;">{{ 'HOW.MES_01' | translate }}<br>{{ 'HOW.MES_01b' | translate }}</div>
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 200ms; animation-delay: 1.5s;" src="assets/icons/icon-swipe.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 200ms; animation-delay: 1.5s;">{{ 'HOW.MES_02' | translate }}<br>{{ 'HOW.MES_02b' | translate }}</div>
  <!-- <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 2s;" src="assets/icons/icon-timer.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 2s;">{{ 'HOW.MES_03' | translate }}<br>{{ 'HOW.MES_03b' | translate }}</div> -->
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 200ms; animation-delay: 2.0s;" src="assets/icons/icon-5s.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 200ms; animation-delay: 2.0s;">{{ 'HOW.MES_04' | translate }}</div><br>
  <!-- <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 4s;" src="assets/icons/icon-prize.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 4s;">{{ 'HOW.MES_05' | translate }}<br>{{ 'HOW.MES_05b' | translate }}</div> -->
</div><br>
</div>
<div class="buttons-container uk-container uk-text-center">
 
  <button class="uk-button  play-button uk-width-1-1 animate__animated animate__bounceInLeft" style="animation-duration: 800ms; animation-delay: 2000ms;" (click)="goHome()">{{ 'HOW.BACK' | translate }}</button>
  
</div>
