<div class="header_title">
  <span class="inside_text">{{ 'HOW.HOW' | translate }}</span>
</div>

<div class="buttons-container uk-container uk-text-center">
<div class="how-to-play-text" style="max-width: 600px;
    margin-left: auto;
    margin-right: auto;">
  <img class="icon" src="assets/icons/icon-check.svg" alt=""/>
  <div class="item">{{ 'HOW.MES_01' | translate }}<br>{{ 'HOW.MES_01b' | translate }}</div>
  <img class="icon" src="assets/icons/icon-swipe.svg" alt=""/>
  <div class="item">{{ 'HOW.MES_02' | translate }}<br>{{ 'HOW.MES_02b' | translate }}</div>
  <img class="icon" src="assets/icons/icon-timer.svg" alt=""/>
  <div class="item">{{ 'HOW.MES_03' | translate }}<br>{{ 'HOW.MES_03b' | translate }}</div>
  <img class="icon" src="assets/icons/icon-5s.svg" alt=""/>
  <div class="item">{{ 'HOW.MES_04' | translate }}<br>{{ 'HOW.MES_04b' | translate }}</div>
  <img class="icon" src="assets/icons/icon-prize.svg" alt=""/>
  <div class="item">{{ 'HOW.MES_05' | translate }}<br>{{ 'HOW.MES_05b' | translate }}</div>
  
</div>
</div>
<div class="buttons-container uk-container uk-text-center">
 
  <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="isActive" (click)="goHomeWithLogin()">{{ 'HOW.SUB' | translate }} </button>
  <!-- <button class="uk-button uk-button-default play-button uk-width-1-1" style="background-image: linear-gradient(to bottom, #ffffff, #c3c3c3 16%, #acacac 84%, #c5c5c5);" *ngIf="!isActive" >Подписаться</button> -->
  <!-- <button *ngIf="_gamesPlayed >= 3 && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="startGame()">{{ 'HOW.BUY' | translate }}</button> -->
  <button *ngIf="_gamesPlayed > 0 && _gamesPlayed < 3  && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="OpenSureModal()" >{{ 'HOW.BUY' | translate }}</button>
  <button *ngIf="_gamesPlayed == 0 && !isActive" class="uk-button uk-button-default play-button uk-width-1-1" (click)="startGame()" >{{ 'HOW.PLAY' | translate }}</button>
  <!-- <div class="uk-container"  style="text-align: center;color: white;margin: 20px;">
    {{ 'HOME.FOOTER_01' | translate }}
  <br>
  <p >
  {{ 'HOME.FOOTER_02' | translate }}<br>{{ 'HOME.FOOTER_02b' | translate }}<a  [routerLink]="['/info']" style="color:white; text-decoration: underline;">{{ 'HOME.FOOTER_02c' | translate }}</a>
  </p>
  <span style="color:#dfdb03">{{ 'HOME.FOOTER_03' | translate }}</span>
  
  </div> -->
</div>
<div id="areUSure" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <!-- <img src="assets/images/wanted.svg" alt=""> -->
    <h4 style="text-align: center;">{{ 'HOME.SURE' | translate }}</h4>
   <!-- <pre>{{errorMsg}}</pre> -->
   <div class="buttons-container uk-container uk-text-center" style="padding:10px; margin-top: 0px;">
    <button class="uk-button uk-button-default play-button uk-width-1-1 uk-modal-close"  style="margin-top: 20px" (click)="startGame()">{{ 'HOME.YES' | translate }}</button>
    <app-button [link_button]="true" class="uk-modal-close"   style="margin: 20px 0px;">{{ 'HOME.NO' | translate }}</app-button>
  </div>
  </div>
</div>