<!-- <div class="mts-logo" style="width:80px;">
  <img src="assets/images/gulogo.svg" alt="">
</div> -->

<div class="slideshow-container" *ngIf="showLogin"  uk-slideshow="animation: fade; min-height: 300; max-height: 500; autoplay: true; autoplay-interval: 2000; pause-on-hover: false;" >

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
    <!-- <img  alt="" src="assets/images/lights.png" uk-cover width="auto" height=""> -->
    
    <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 30">
        <li class="list-wrapper" >
            <div class="uk-position-center uk-position-medium uk-text-center">
              <div uk-slideshow-parallax="scale: 1,1,0.8">
                <div class="vector">
                    <img class="scaled"  src="assets/icons/grand_prize.png" alt=""/>
                </div>
                <div uk-slideshow-parallax="x: 200,0,0"
                  class="current-prize-fond">
                  <h2 class="uk-margin-remove">{{ 'HOME.CAR_01' | translate }}</h2>
                  <span class="roubles uk-margin-remove">{{ 'HOME.CAR_01b' | translate }}</span>
                </div>
              </div>
            </div>
          </li>
          <li class="list-wrapper">
              <div class="uk-position-center uk-position-medium uk-text-center">
                <div uk-slideshow-parallax="scale: 1,1,0.8">
                  <div class="vector">
                      <img class="scaled" src="assets/icons/monthly_prize.png" alt="" >
                  </div>
                  <div uk-slideshow-parallax="x: 200,0,0"
                    class="current-prize-fond">
                    <h2 class="uk-margin-remove">{{ 'HOME.CAR_02' | translate }}</h2>
                    <span class="roubles uk-margin-remove">{{ 'HOME.CAR_02b' | translate }}</span>
                  </div>
                </div>
              </div>
            </li>
      
      <li class="list-wrapper">
        <div class="uk-position-center uk-position-medium uk-text-center">
          <div uk-slideshow-parallax="scale: 1,1,0.8">
            <div class="vector">
              <img class="scaled" src="assets/icons/weekly_prize.png" alt="" >
            </div>
            <div uk-slideshow-parallax="x: 200,0,0"
              class="current-prize-fond">
              <h2 class="uk-margin-remove">{{ 'HOME.CAR_03' | translate }}</h2>
              <span class="roubles uk-margin-remove">{{ 'HOME.CAR_03b' | translate }}</span>
            </div>
          </div>
        </div>
      </li>
      <li class="list-wrapper">
          <div class="uk-position-center uk-position-medium uk-text-center">
            <div uk-slideshow-parallax="scale: 1,1,0.8">
              <div class="vector">
                  <img  class="scaled" src="assets/icons/daily_prize.png" alt="" >
              </div>
              <div uk-slideshow-parallax="x: 200,0,0"
                class="current-prize-fond">
                <h2 class="uk-margin-remove">{{ 'HOME.CAR_04' | translate }}</h2>
                <span class="roubles uk-margin-remove">{{ 'HOME.CAR_04b' | translate }}</span>
              </div>
            </div>
          </div>
        </li>
      
    </ul>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
  </div>
  

</div>

<br>
<br>
<!--LOG IN-->
<div class="uk-container" *ngIf="showLogin">
  <!-- <div style="width: 100%; height: 100%; margin: -50px auto auto; max-width: 600px;">
    <lottie-animation-view  [options]="lottieConfig" (animCreate)="handleAnimation($event)" ></lottie-animation-view>
  </div> -->
</div>
<div class="buttons-container uk-container uk-text-center" *ngIf="showLogin" tabindex="-1">
 
<div class="buttons-container uk-container uk-text-center" *ngIf="showLogin" style="max-width: 595px; ">
  
  <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
  <form >
    <div class="uk-margin" >
        <div class="uk-inline uk-width-1-1 ">
            <span class="uk-form-icon" uk-icon="icon: phone; ratio: 1.5"></span>
            <input #number class="uk-input uk-border-rounded" type="text" (keyup)="onKey($event)" placeholder="{{ 'HOME.NUM' | translate }}" >
        </div>
    </div>
    <!-- <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input #pass class="uk-input uk-border-rounded" type="text" placeholder="password">
            
        </div>
    </div> -->
  </form>
  
  <div class="buttons-container uk-container uk-text-center">
    <button class="uk-button uk-button-default play-button uk-width-1-1" (click)="submit(number.value)">{{ 'HOME.SUB-LOG' | translate }}</button> 
  </div>
  <!-- <div class="message-container">
    <p style="color:white;">By clicking the Log in button you confirm that you<br> <a  [routerLink]="['/info']" style="color:white; text-decoration: underline;">have read and agreed to the game rules.</a>
    </p>
    
  </div> -->
  
</div>
</div>
<!--END OF LOGIN-->

<!-- VERIFY -->
<div class="buttons-container uk-container uk-text-center" *ngIf="openVerify" tabindex="-1">
  <div class="message-container" style="margin-top: 100px">
    <p style="font-size: 22px;color: rgb(255, 255, 255); text-align: center; text-shadow: 2px 2px 5px #00000087;">{{ 'HOME.OTP' | translate }}</p>
    <!--<p>Услуга оказывается МТС совместно с партнером «ДжЮ Груп»</p>-->
  </div>
  <div class="buttons-container uk-container uk-text-center" *ngIf="openVerify" style="max-width: 595px;">
    
    <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
    <form >
      <div class="uk-margin" >
          <div class="uk-inline uk-width-1-1 ">
            <a class="uk-form-icon uk-form-icon-flip" ><img class=".uk-position-right" (click)="OpenPass()" src="assets/icons/eye.svg" alt=""></a>
            
            <input #pin class="uk-input " type="{{passType}}" placeholder="....">
        </div>
      </div>
      <!-- <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input #pass class="uk-input uk-border-rounded" type="text" placeholder="password">
              
          </div>
      </div> -->
    </form>
    
    <!-- This is the confirm stage when we dont have a registered user -->
    <div class="buttons-container uk-container uk-text-center">
      <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="!sessionService.isSubscribed" (click)="verify(pin.value)">{{ 'HOME.CONFIRM' | translate }}</button> 
      <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="sessionService.isSubscribed"(click)="verify(pin.value)">{{ 'HOME.LOGIN' | translate }}</button> 
    </div>
    <div class="message-container">
      <p style=" font-weight: bold; font-size: 20px; text-shadow: 2px 2px 5px #00000087;"><a (click)="resetPass()" style="color:rgb(255, 255, 255); text-decoration: underline;">{{ 'HOME.RESET' | translate }}</a>
      </p>
      
    </div>
    
  </div>
  </div>
<div class="buttons-container uk-container uk-text-center" *ngIf="!showLogin">
  <!-- <button class="uk-button uk-button-default demo-button uk-width-1-1" (click)="playDemoGame($event)">Play Demo Game</button> 
  <br>
  <button class="uk-button uk-button-default play-button uk-width-1-1" (click)="playGame($event)">Subscribe/Login</button> -->
  <!-- <div class="main-footer message-container">
    <span>1st day free then 0.50$ /day</span>
    <br>
    <p>
    By clicking Subscription you confirm that you<br><a  [routerLink]="['/info']" style="color:white; text-decoration: underline;">have read and agreed to the game rules.</a>
    </p>
    
  </div> -->
</div>
<div class="buttons-container uk-container uk-text-center"  style="color: white;" *ngIf="openVerify">
  <div class="message-container">
    {{ 'HOME.FOOTER_01' | translate }}
    <p >
    {{ 'HOME.FOOTER_02' | translate }}<br>{{ 'HOME.FOOTER_02b' | translate }}<a  [routerLink]="['/info']" style="color:white; text-decoration: underline;">{{ 'HOME.FOOTER_02c' | translate }}</a>
    </p>
    <!-- <span style="color:#dfdb03">{{ 'HOME.FOOTER_03' | translate }}</span> -->
  </div>
</div>
<!-- <div *ngIf="isHasCashback">
    <h4 class="title">Cashback Won</h4>
    <div class="cashback" uk-grid routerLink="/cashback">
      <div class="uk-width-expand label">Cashback</div>
      <div class="uk-width-auto amount">100$ <span uk-icon="chevron-right"></span></div>
    </div>
    
  </div> -->
<!-- <div class="main-footer uk-container">
    <span>1st day free then 0.50$ /day</span>
    <br>
    <p>
    By clicking Subscription you confirm that you<br><a  [routerLink]="['/info']" style="color:white; text-decoration: underline;">have read and agreed to the game rules.</a>
    </p>
    
</div> -->
<!--goto rules-->
<!-- <div class="buttons-container uk-container uk-text-center" style="padding:10px;" *ngIf="!showLogin"> -->
  <!--<a  [routerLink]="['/info']" style="color: white;font-weight: bold;text-decoration: underline; ">Правила игры</a>-->
  <!-- <a  (click)="playGame($event)" style="color: white;font-weight: bold;text-decoration: underline; ">Already Subscriber</a>
</div> -->
<!-- <div class="main-footer uk-container" *ngIf="isSubscribed && !showLogin" style="text-align: center;position: absolute;bottom: 0px;width: -webkit-fill-available; font-size: 15px;">
  1st day free then 2 pounds /day
  <br>
  <p>
  By clicking Subscription you confirm that you have<br>read and agreed to the <a  [routerLink]="['/info']" style="color:white; text-decoration: underline;">Terms & Conditions.</a>
  <br><br><span style="color:#ff6600">© Orange 2019</span>
  </p>
</div> -->
<!-- <div class="main-footer uk-container" *ngIf="isSubscribed && !showLogin" style="max-width:100%">
 Служба поддержки:  111777 (бесплатно) или отправьте письмо на support@gu-group.ru
Услуга оказывается МТС совместно с партнером "ДжЮ Груп". Акция проходит под контролем независимого наблюдателя
   <p>Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>
     <br>18+   |      © 2019 GU Group. All rights reserved.
   </p>
</div> -->
  
<!--<div class="main-footer2 uk-container" *ngIf="isSubscribed && showLogin" style="max-width:100%">-->
<!--  Служба поддержки:  111777 (бесплатно) или отправьте письмо на support@gu-group.ru-->
<!--Услуга оказывается МТС совместно с партнером "ДжЮ Груп". Акция проходит под контролем независимого наблюдателя-->
<!--    <p>Support: 1234 (toll free) or <a href="mailto:support.mts@gu-group.ru" class="uk-button-link" style="text-decoration:underline">support@gugroup.com</a>-->
<!--      <br>18+   |      © 2019 GU Group. All rights reserved.-->
<!--    </p>-->
<!--  </div>-->
  
  <div id="error" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <img src="assets/images/wanted.svg" alt="">
      <h4>{{ 'MESSAGES.MESSAGE_01' | translate }}</h4>
    <pre>{{ errorMsg | translate }}</pre>
    <!--<p>{{errorMsg}}</p>-->
    <app-button *ngIf="!logOutBtn" [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_07' | translate }}</app-button>
    <app-button *ngIf="gotofaqBtn" [link_button]="true" class="uk-modal-close" (click)="gotoFaqPage()">{{ 'MESSAGES.MESSAGE_14' | translate }}</app-button>
    <app-button *ngIf="logOutBtn" [link_button]="true" class="uk-modal-close" (click)="logOutUser()">{{ 'MESSAGES.MESSAGE_07' | translate }}</app-button>
      
    </div>
  </div>

